body{
background-color: rgba(244, 238, 168, 0.69)
}

.header{
  text-align: center;
}

.header h1{
  text-align: center;
  text-decoration: underline;
  color: rgb(0, 255, 224);
  text-shadow: 2px 2px black;
}

.header:hover {}

.reg-input {
  margin-top: 50px;
  padding: 20px;
  border-style: solid;
  border-width: 100%;
  text-align: center;
  background-color: rgb(255, 245, 0);
  border-radius: 20px;
}

textarea {
  display: inline-block;
  /* margin-left: 62px; */
  font-size: 26px;
  text-align: center;
  color: rgb(0, 198, 210);
  text-shadow:1px 1px black;
  text-transform: uppercase;
}

textarea:hover {
  border-color: : black;
}

.reg-input button {
  background: rgb(66, 255, 0);
  color: black;
}

.reg-input button:hover {
  border-color: black;
}

.plates h4{
  margin: 20px;
  text-decoration: underline;
  color: rgb(70, 70, 73)
}

ul{
  list-style: none;
}

li{
  text-align: center;
  border:solid;
  width:180px;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(163, 163, 163);
  text-transform:uppercase;
}
